.ui.borderless.topmenu.menu {
  box-shadow: none;
  border: none;
}

.ui.borderless.middlemenu.menu{
  box-shadow: none;
  border: none;
}

.footer-background {
  background-color: #292929;
  height: 300px;
  color: white;
  padding-top: 40px;
  padding-bottom: 40px;
}

.grad-background {
  background: url('http://murphyshawaii.com/media/2014/04/murphys-front.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 500px;
  color: white;
}
